@import "./variables/color-theme-primary.scss";
@import "./variables/layout.scss";
@import "./variables/paddings";
@import "./variables/typography";

body {
  background-color: $color-white;
	margin: 0;
	padding: 0;
}