@import "../../scss/variables/layout";

@mixin for-size-tab($size) {
  @if $size == s {
    @media (min-width: $s) {
      @content;
    }
  } @else if $size == m {
    @media (min-width: $m) {
      @content;
    }
  } @else if $size == ml {
    @media (min-width: $ml) {
      @content;
    }
  } @else if $size == l {
    @media (min-width: $l) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: $xl) {
      @content;
    }
  }
}

.Tabs {
  --columns: 6;
  --gap: 6%;

  @include for-size-tab(s) {
    --columns: 6;
    --gap: 2%;
  }

  @include for-size-tab(ml) {
    --columns: 6;
    --gap: 2.19%;
  }

  @include for-size-tab(l) {
    --columns: 6;
    --gap: 2.27%;
  }
}

.grid-tabs {
  margin: 0 16px;

  @include for-size-tab(m) {
    margin: 0 32px;
  }

  @include for-size-tab(ml) {
    margin: 0 32px;
  }

  @include for-size-tab(l) {
    margin: 0 300px;
  }

  @include for-size-tab(xl) {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.grid-tabs {
  display: grid;
//   align-items: center;
//   gap: var(--gap);
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
  position: relative;
}
