@import "../../scss/base.scss";

.Cta {
  cursor: pointer;

  &--nav-menu-button {
    background-color: transparent;
    border: none;
  }

  &--nav-menu {
    border: none;
    font-family: $font-secondary;
    font-size: $font-size-small;
  }

  &--nav-menu-left {
    border: none;
    background-color: transparent;
  }

  &--nav-logo {
    padding: 7px;
    border-radius: 60%;
    background-color: $color-primary-test;
    // stroke-width: 3;
    // stroke: $color-white;
  }
}
