@import "../../scss/base.scss";

.Cta {
  color: $color-black;
  cursor: pointer;

  &--nav-menu-button {
    font-family: $font-primary;
    font-size: 25px;
  }

  &--nav-menu {
    font-family: $font-secondary;
    font-size: $font-size-small;
  }

  &--nav-left {
    background-color: transparent;
  }

  &--nav-logo {
    background-color: transparent;
    color: $color-black;
  }
}
