@import "../../scss/base.scss";
@import "./ProductLayout.scss";

.Product {
  padding: $padding-large 0;
  text-align: center;

  &-container {
    height: 350px;
    text-align: center;
    background-color: $color-white;
    border: 1px solid $color-secondary-test;
    border-radius: 16px;
    padding: $padding-small;

    @include for-size-product(m) {
      height: 380px;
    }

    @include for-size-product(l) {
      height: 400px;
    }
  }

  &-image {
    width: 170px;
    height: auto;
    background-image: url("../../images/profile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-title,
  &-description {
    margin-bottom: $padding-x-small;
  }

  &-products {
    list-style: none;
    padding: 0;
  }

  &-item {
    &:last-child {
      margin-bottom: $padding-large;

      @include for-size-product(l) {
        margin-bottom: $padding-small;
      }
    }
  }
}
