@import "../../scss/variables/layout.scss";

@mixin for-size-product($size) {
  @if $size == xs {
    @media (max-width: $s) {
      @content;
    }
  } @else if $size == m {
    @media (min-width: $m) {
      @content;
    }
  } @else if $size == ml {
    @media (min-width: $ml) {
      @content;
    }
  } @else if $size == l {
    @media (min-width: $l) {
      @content;
    }
  } @else if $size == xl {
    @media (min-width: $xl) {
      @content;
    }
  }
}

.Product {
  --columns: 4;
  --gap: 2.27%;
  --minWidth: 300px;

  @include for-size-product(m) {
    --columns: 3;
    --gap: 2.27%;
    --minWidth: 230px;
  }

  @include for-size-product(ml) {
    --columns: 4;
    --gap: 2.19%;
    --minWidth: 230px;
  }

  @include for-size-product(l) {
    --columns: 5;
    --gap: 2.19%;
    --minWidth: 290px;
  }
}

.grid-product {
  margin: 0 16px;

  @include for-size-product(m) {
    margin: 0 32px;
  }

  @include for-size-product(l) {
    margin: 0 80px;
  }

  @include for-size-product(ml) {
    margin: 0 80px;
  }

  @include for-size-product(xl) {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.grid-product {
  display: grid;
  grid-column-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--minWidth), 1fr));
  position: relative;
}
