@import "../../scss/base.scss";
@import "./CarouselLayout.scss";

.Carousel {
  background-color: $color-primary-test;
  display: flex;
  padding: $padding-large $padding-x-small $padding-extra-large;
  position: relative;

  &--img {
    height: 321px;
    width: 100%;
    background-image: url("../../images/profile.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include for-size-carousel(m) {
      width: 100%;
      background-image: url("../../images/coverpage.png");
      height: 460px;
    }
  }
}

.alice-carousel__dots {
  position: relative;
  margin: 0;
  top: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
