@import "../../scss/base.scss";

.CoverPage {
  background-color: $color-primary-test;
  //background-color: $color-cuaternary; take account of this color reusable
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding: $padding-large $padding-x-small $padding-extra-large;
  position: relative;
  text-align: center;

	@include for-size(m) {
    //replace if we need and image large in this size
    background-color: $color-primary-test;
	}

}
