@import "../../scss/base.scss";

.CoverPage {
  background-color: $color-primary-test;
  display: flex;
  padding: $padding-large $padding-x-small $padding-extra-large;
  position: relative;

  &--img {
    height: 460px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.alice-carousel__dots {
  margin:0;
}
