$color-white: #fff;
$color-black: #44393B;
$color-primary: #ffd000;
$color-secondary: #181d20;
$color-terciary: #ff5252;
$color-cuaternary: #181d20;

$color-grey: #f4f4f4;
$color-grey-secondary: grey;
$color-grey-terciary: #ede9ea;
$color-grey-cuaternary: #b5b5b5;
$color-grey-quinto: #f3f3f3;
$color-primary-test: #f4901e;
$color-secondary-test: #e5e5e5;