@import "../../scss/base.scss";
@import "./NavLayout.scss";

.Nav {
  $self: &;
  background-color: $color-grey;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 1;
  border-bottom: 1px solid $color-secondary-test;

  a {
    color: $color-black;
    text-decoration: none;
  }

  &--light a {
    color: $color-white;
  }

  &-button {
    @include for-size-nav(m) {
      display: none;
    }
  }

  &-logo {
    display: flex;
    justify-content: center;
    grid-column: 4 / 5;

    @include for-size-nav(m) {
      grid-column: 1 / 2;
    }
  }

  &-menu-list {
    display: none;
    grid-column: 2 / 6;
    justify-content: flex-start;
    list-style: none;
    padding: 0;

    @include for-size-nav(m) {
      display: flex;
    }
  }

  &-menu-left {
    display: flex;
    grid-column: 6 / 8;
    justify-content: flex-end;
    list-style: none;
    padding: 0;

    @include for-size-nav(ml){
      grid-column:  7 / 8;
      justify-content: flex-start;
    }
  }

  &-item {
    font-family: $font-secondary;
    font-size: $font-size-small;
    font-weight: 300;
    margin-right: $padding-small;

    &:last-child {
      margin-right: 0;
    }

    @include for-size-nav(ml) {
      font-size: $font-size-medium;
      margin: 0 $padding-small;
    }
  }

  &-item-left {
    margin-right: $padding-x-small;

    &:last-child {
      margin-right: 0;
    }
  }
}
