@import "../../scss/base.scss";
@import "./NavLayout.scss";

.Nav {
  $self: &;
  background-color: $color-grey;
  top: 0;
  position: sticky;
  width: 100%;
  z-index: 1;

  a {
    color: $color-black;
    text-decoration: none;
  }

  &--light a {
    color: $color-white;
  }

  &-button {
    @include for-size-nav(s) {
      display: none;
    }
  }

  &-logo {
    display: flex;
    justify-content: center;
    grid-column: 1 / 2;
    // @include for-size-nav(s) {
    //   grid-column: 3/5;
    // }
  }

  &-menu-list {
    display: none;
    grid-column: 2 / 6;
    justify-content: flex-start;
    list-style: none;
    padding: 0;

    @include for-size-nav(m) {
      display: flex;
    }
  }

  &-menu-left {
    grid-column: 7 / 8;
    justify-content: flex-start;
    list-style: none;
    display: flex;
    padding: 0;
  }

  &-item {
    font-family: $font-primary;
    font-size: $font-size-small;
    font-weight: 300;
    line-height: 2;
    margin: 0 $padding-x-small;

    &:last-child {
      margin-right: 0;
    }
  }

  &-item-left {
    margin-right: $padding-x-small;

    &:last-child {
      margin-right: 0;
    }
  }
}
